@media screen and (min-width: 600px) {
    .party-button{
        position: absolute;
        top: 80%;
        right: 85%;
        height: 50px;
        width: 85px;
        transition-duration: .8s;
        cursor: pointer;
    }
    
    .party-button p{
        text-decoration: none;
        color: black;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px; 
    }
    
    .party-button p:hover{
        color: white;
        background-color: #EFC413;
        transition-duration: .8s
    }
    .party-button p.groovy:hover{
        color: white;
        background-color: black
    }
    .party-button p.groovy{
        width: 60px
    }
}

@media screen and (max-width: 600px) {
    .party-button{
        opacity: 0
    }
    
    .party-button p{
        opacity: 0
    }
    
    .party-button p:hover{
        opacity: 0
    }
}