@keyframes fadeInPicture{
    from {
        opacity: 0;
        z-index: 0;
        margin-left: 47%
    }
    to{
        opacity: 1;
        z-index: 0;
        margin-left: 51%
    }
}


@media screen and (min-width: 750px) {
    .the_image_other{
        justify-content: flex-end;
        display: flex;
        grid-area: 2 / 2 / 2 / 2;
        animation-duration: 1s;
        width: 469px;
        height: 625px;
        animation-fill-mode: forwards;
        animation-name: fadeInPicture;
        margin-left: 0%;
        overflow: hidden
    }
    
    .the_image_other img{
        position: absolute;
        justify-content: flex-end;
        display: flex;
        margin-right: 8%;
        grid-area: 2 / 2 / 2 / 2;
        height: 100%;
        width: auto;
        z-index: -200;
    }
    
}

@media screen and (max-width: 750px) {
    .the_image_other{
        justify-content: flex-end;
        display: flex;
        grid-area: 2 / 2 / 2 / 2;
        animation-duration: 1s;
        width: 100%;
        height: 100%;
        animation-fill-mode: forwards;
        animation-name: fadeInPicture;
        margin-left: 0%;
        overflow: hidden;
        z-index: 0;
        opacity: 0
    }
    
    .the_image_other img{
        position: absolute;
        justify-content: flex-end;
        display: flex;
        grid-area: 2 / 2 / 2 / 2;
        height: 100%;
        width: auto;
        z-index: -10;
        opacity: 0
    }
    
}

