@media screen and (min-width: 710px) {
    .groovy-circles{
        height: 100px;
        width: 100px;
        margin: 30%;
        border-radius: 50%;
    }
    
    .balls{
        top: -116%;
        right: 16%;
        height: 103px;
        width: 103px;
        margin: 30%;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        z-index: 30;
        opacity: 1;
        transition-duration: .4s;
    }
    
    .balls.active{
        top: -116%;
        right: 15%;
        height: 102px;
        width: 102px;
        margin: 30%;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        z-index: 19;
        opacity: 0;
        transition-duration: .4s;
    }
}

@media screen and (max-width: 709px) {
    .groovy-circles{
        height: 50px;
        width: 50px;
        margin: 30%;
        border-radius: 50%;
    }
    
    .balls{
        top: -116%;
        right: 16%;
        height: 53px;
        width: 53px;
        margin: 30%;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        z-index: 30;
        opacity: 1;
        transition-duration: .4s;
    }
    
    .balls.active{
        top: -116%;
        right: 15%;
        height: 52px;
        width: 52px;
        margin: 30%;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        z-index: 19;
        opacity: 0;
        transition-duration: .4s;
    }
}

