@keyframes groovyFadeIn { from { opacity:0; } to { opacity:1} }

@media screen and (min-width: 710px) {
  .groovy-fade {
    padding-top: -10px;
    opacity:0;
    animation:groovyFadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    text-align: center;
    justify-content: center;
    z-index: 20;
    height: 100%
  }

  .groovy-title {
    animation: groovyFadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    font-family: 'Pacifico', cursive;
    font-size: 72px;
    animation-duration:.1s;
    position: absolute;
    transform: translate(-50%, -60%);
    z-index: 20;
    opacity: 0;
  }
}

@media screen and (max-width: 710px) {
  .groovy-fade {
    padding-top: -10px;
    opacity:0;
    animation:groovyFadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    text-align: center;
    justify-content: center;
    z-index: 20;
    height: 100%
  }

  .groovy-title {
    animation: groovyFadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    animation-duration:.1s;
    position: absolute;
    transform: translate(-55%, -90%);
    z-index: 20;
    opacity: 0;
  }
}
