@keyframes fadeInPicture{
    from {
        opacity: 0;
        z-index: 0;
    }
    to{
        opacity: 1;
        z-index: 0;
        margin-left: 46%
    }
}

@media screen and (min-width: 470px) {
    .the_image{
        justify-content: flex-end;
        display: flex;
        grid-area: 1 / 2 / 1 / 2;
        animation-duration: 1s;
        width: 469px;
        height: 100%;
        animation-fill-mode: forwards;
        animation-name: fadeInPicture;
    }
    
    .the_image img{
        position: absolute;
        justify-content: flex-end;
        display: flex;
        margin-right: 8%;
        grid-area: 1 / 2 / 1 / 2;
        height: 100%;
        width: auto;
        z-index: 3;
        right: 0%
    }
    
}

@media screen and (max-width: 470px) {
    .the_image{
        justify-content: flex-end;
        display: flex;
        grid-area: 1 / 2 / 1 / 2;
        animation-duration: 1s;
        width: 1fr;
        height: 100%;
        animation-fill-mode: forwards;
        animation-name: fadeInPicture;
        margin-left: 0%;
        max-width: 100%
    }
    
    .the_image img{
        position: absolute;
        justify-content: flex-end;
        display: flex;
        grid-area: 1 / 2 / 1 / 2;
        height: 100%;
        width: auto;
        z-index: 3;
        min-width: 100%
    }
    
}

