@media screen and (max-width: 420px) {
    .captions{
        text-align: none;
        position: absolute;    
        left: 0;
        top:60px;
        font-family: 'Open Sans Condensed', sans-serif;
        padding-right: 50%;
        z-index: 10
    }
}


@media screen and (min-width: 420px) {
    .captions{
        text-align: none;
        position: absolute;    
        left: 0;
        top:60px;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 5%;
    }
}