@media screen and (max-width: 330px) {
    .circle_list{
        margin-top: -120%
    }

    .rightCircle{
        padding-right: 15% 
    }
    .leftCircle{
        margin-left: -9% 
    }
    .groovy-captions{
        background-color: transparent;
        color: white;
        z-index: 30;
        position: absolute;
        left: 48%;
        max-width: 380px;
        top: 70%;
        transform: translate(-48%, -80%);
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
        opacity: 1
    }
}

@media screen and (max-width: 400px) and (min-width: 330px) {
    .circle_list{
        margin-top: -80%
    }

    .rightCircle{
        padding-right: 15% 
    }
    .leftCircle{
        margin-left: -9% 
    }

    .groovy-captions{
        background-color: transparent;
        color: black;
        z-index: 30;
        position: absolute;
        left: 48%;
        max-width: 380px;
        top: 70%;
        transform: translate(-48%, -100%);
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
        opacity: 1
    }
}

@media screen and (min-width: 1020px) and (max-width: 1040px){
    .rightCircle{
        margin-top: -800px;
    }
    .leftCircle{
        margin-top: -800px;
    }
}

@media screen and (min-width: 410px) and (max-width: 500px) {
    .circle_list{
        margin-top: -80%
    }

    .rightCircle{
        padding-right: 15% 
    }
    .leftCircle{
        margin-left: -9% 
    }

    .groovy-captions{
        background-color: transparent;
        color: black;
        z-index: 30;
        position: absolute;
        left: 48%;
        max-width: 380px;
        top: 70%;
        transform: translate(-48%, -120%);
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
        opacity: 1
    }
}

@media screen and (min-width: 425px) {
    .circle_list{
        margin-top: -600px;
    }
    
    .rightCircle{
        padding-right: 6%;
    }
    
    .leftCircle{
        padding-left: 0%;
    }
    .groovy-captions{
        background-color: transparent;
        color: white;
        z-index: 30;
        position: absolute;
        left: 48%;
        max-width: 380px;
        top: 70%;
        transform: translate(-48%, -40%);
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
        opacity: 1
    }
}


