@media screen and (max-width: 610px) {
    .left{
        width: 300px;
        height: 605px;
        position: relative;
        z-index: 10;
    }
}

@media screen and (min-width: 610px) {
    .left{
        width: 300px;
        height: 605px;
        position: relative;
        z-index: 10
    }
}