@media screen and (min-width: 620px) {
    .trademark{
        width: 50px;
        background-color: transparent
    }
    .trademark_container{
        top: 96%;
        left: 0%;
        position: absolute;
        width: 100%;
        background-color: transparent;
        z-index: 30;
        height: 35px;
    }
}

@media screen and (max-width: 620px) {
    .trademark{
        width: 50px;
        background-color: transparent
    }   
    .trademark_container{
        top: 96%;
        left: 0%;
        position: absolute;
        width: 100%;
        background-color: #ffffff;
        z-index: 30;
        height: 35px;
    }
}