@media screen and (min-width: 710px) {
    .circle_back {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
        cursor: pointer;
        position: relative;
        z-index: 20;
        overflow: hidden;
        left: 15%;
        top: 15%;
    }
    
    .text{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    
    a.backlink {
        color: white;
        text-decoration: none;
        transform: cubic-bezier(.17,.67,.83,.67);
        font-size: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        left: 0%;
        position: absolute;
        z-index: 25;
    }

    a.backlink img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
    
    a.backlink:hover{
        font-family: 'Open Sans Condensed', sans-serif;
        color: black;
    }
}

@media screen and (max-width: 709px) {

    a.backlink img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    
    .circle_back {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        cursor: pointer;
        position: relative;
        z-index: 20;
        overflow: hidden;
        left: 15%;
        top: 15%;
    }
    
    .text{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    
    a.backlink {
        color: white;
        text-decoration: none;
        transform: cubic-bezier(.17,.67,.83,.67);
        font-size: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        left: 0%;
        position: absolute;
        z-index: 25
    }
    
    a.backlink:hover{
        font-family: 'Open Sans Condensed', sans-serif;
        color: black;
    }
    
}

.card-images{
    border-radius: 50%;
}
