@media screen and (min-width: 600px) {
    .about-frames{
        transition-duration: .8s;
        font-size: 25px;
        z-index: 5
    }

    .about-frames p{
        cursor: pointer;
    }

    .about-frames.active{
        margin-top: 25%;
    }

    .about-frames.slide-out{
        margin-left: -100px;
        transition-duration: .8s;
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .about-frames{
        transition-duration: .8s;
        font-size: 25px;
        z-index: 5;
        margin-bottom: 10% 
    }

    .about-frames p{
        cursor: pointer;
    }

    .about-frames.active{
        margin-top: 25%;
    }

    .about-frames.slide-out{
        margin-left: -100px;
        transition-duration: .8s;
        opacity: 0;
    }
}