@media screen and (max-width: 750px) {
    .circles{
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin: 3%;
        background-color: black;
        text-decoration: none;
        color: black;
        transition-duration: .3s;
        border: black solid 0px;
    }

    .circles.active{
        border-radius: 50%;
        margin: 3%;
        background-color: grey;
        border: none;
        text-decoration: none;
    }
}

@media screen and (min-width: 750px) {
    .circles{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 3%;
        background-color: black;
        text-decoration: none;
        color: black;
        transition-duration: .3s;
        border: black solid 0px;
    }

    .circles.active{
        border-radius: 50%;
        margin: 3%;
        background-color: grey;
        border: none;
        text-decoration: none;
    }
}
