@keyframes fadeInArrow{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutArrow{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.arrow{
    opacity: 0;
    width: 8px;
    position: absolute;
}

.arrow.active{
    animation-name: fadeInArrow;
    animation-duration: 1s;
    cursor: pointer;
    opacity: 1;
}